<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Download subscriber for:{{topicId}}</title>
	</head>
	<body>
		<h1>Download 50k+ subscriber</h1>
		<form action="list" method="post">
			<p>Please provide the <strong>Notify template ID</strong> to use for your mailing.
			<p><label>Notify Template ID: <input type="text" name="notifyTmplId" size="35"/></label>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>

