<!DOCTYPE html>
<html>
<head>
	<title>Download subscriber for: {{topicId}}</title>
</head>
<body>
	<h1>Download subscriber</h1>
	<p>For: <strong>{{topicId}}</strong> as from <em>{{currDate}}</em></p>
	<p>Filename uploaded: {{filenameUpload}}</p>
	<p>Note: An email was directly sent to CDS about your request. Please contact them to pursue your request.</p>
</body>
</html>
